// =============================================
// FUNCIONES UTILITARIAS
// =============================================

@use 'sass:color' as color;

// Funci贸n para calcular contraste de color
@function contrast-color($color) {
    @if (lightness($color) > 60) {
        @return $dark;
    } @else {
        @return $light;
    }
}

// Funci贸n para aclarar color
@function tint-color($color, $weight) {
    @return color.mix(white, $color, $weight);
}

// Funci贸n para oscurecer color
@function shade-color($color, $weight) {
    @return color.mix(rgb(234, 231, 231), $color, $weight);
}

// Funci贸n para color con transparencia
@function rgba-color($color, $alpha) {
    @return rgba($color, $alpha);
}